<div class="background">  
  <div class = "span5">
  <h2>Edit <%= @raincheck.title %></h2>
  
    
      <%= link_to [:rainchecks] do %>
        &laquo; My Rainchecks
      <% end %>

      <div class="pull-right">
        <i class="icon-trash"></i><%= link_to ' Delete ', [@raincheck], :method => :delete, :confirm => "Are you sure?" %>
      </div>
   
  
  <%= form_for [@raincheck] do |f| %>

    <%= render 'shared/form_errors', :f => f %>

    
    <%= render f %>
    
      <div class="well">
        <%= f.submit 'Update Raincheck', class: 'btn btn-primary' %>
      </div>
   
  <% end %>
  </div>
  <div class="clearfix"</div>
</div>