<div class = "span12">

  <h2>Edit <%= @raincheck.title %></h2>

  <hr/>

    <div class="well">
      <%= link_to [:rainchecks], :class => 'btn btn-small' do %>
        &laquo; My Rainchecks
      <% end %>

      <div class="pull-right">
        <%= link_to 'Delete Raincheck', [@raincheck], :method => :delete, :class => 'btn btn-small btn-danger', :confirm => "Are you sure?" %>
      </div>
   
  </div>
  
  <%= form_for [@raincheck] do |f| %>

    <%= render 'shared/form_errors', :f => f %>

    
    <%= render f %>
    
      <div class="well">
        <%= f.submit 'Update Raincheck', class: 'btn' %>
      </div>
   
  <% end %>
</div>