

<div class = "span12">



<ul class = "span5">

	<h3> Given Rainchecks</h3>
	<% @given.each do |raincheck| %>
	<div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" data-src=img src="/assets/raincheck.jpg" />
        
      </a>
      <div class="media-body">
        <h4 class="media-heading"><%= raincheck.title %></h4>
        <class="muted"><%= raincheck.description %>
      </div>
		<br>
		<%= link_to '+ Add taker email', [:new, raincheck, :taker], class: 'btn btn-small btn-info' %>
		<%= link_to '+ Edit Raincheck', [:edit, raincheck], class: 'btn btn-small btn-info' %>

		<% end %>

</ul>



<ul class = "span5">

	<h3> Taken Rainchecks</h3>
	<% @taken.each do |raincheck| %>
		<div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" data-src=img src="/assets/raincheck.jpg">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><%= raincheck.title %></h4>
        <%= raincheck.description %>
      </div>
      <br>
		<%= link_to '+ Confirm Raincheck', [:edit, raincheck], class: 'btn btn-small btn-success' %>
		<% end %>

</ul>
</div>
