<div class="background">
  <ul class = "given-rainchecks span5">
	 <h3> Given Rainchecks</h3>
  	<% @given.each do |raincheck| %>
    <div class="raincheck-container"
      <p></p>
      	<div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" data-src=img src="/assets/raincheck.png" />  
          </a>
          <div class="media-body">
            <h4 class="media-heading"><%= raincheck.title %></h4>
            <class="muted"><%= raincheck.description %>
          </div>
          <br>
          <div class = "imagelinks"> 
            <div class="links">
          		<i class="icon-edit"></i><%= link_to 'Edit', [:edit, raincheck]%> 
              <i class="icon-ok"></i><%= link_to " Archive", [:complete, raincheck], method: 'put' %>
              <i class="icon-trash"></i><%= link_to " Delete", [raincheck], :method => :delete, :confirm => "Are you sure?" %>
            </div>
          </div>
        <p></p>
    </div>
    	<% end %> 
</ul>


<ul class = "taken-rainchecks span5">
	<h3> Taken Rainchecks</h3>
	 <% @taken.each do |raincheck| %>
    <div class="raincheck-container"
      <p></p>
		  <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src=img src="/assets/raincheck.png">
        </a>
          <div class="media-body">
            <h4 class="media-heading"><%= raincheck.title %></h4>
            <%= raincheck.description %>
          </div>
          <p></p>
          <div class = "imagelinks"> 
            <div class="links">
		        <i class="icon-calendar"></i><%= link_to ' Schedule', [:edit, raincheck] %>
            <i class="icon-ok"></i><%= link_to " Archive", [:complete, raincheck], method: 'put' %>
              <p></p>
            </div>
          </div>
      </div>
		<% end %>
  <br></br>
</ul>
<div class="clearfix"</div>
</div>