<div class = "background">
  <div class="title-container">
    <h3> Raincheck History</h3> 
    </div> 
  <ul class = "given-rainchecks span5">

    <h3> Given Rainchecks</h3>
    <% @given.each do |raincheck| %>
    <hr>
      <% klass = raincheck.completed ? 'completed' : '' %>
      <div class="media <%= klass %>">
        <a class="pull-left" href="#">
        <img class="media-object" data-src=img src="/assets/raincheck.png" />
        </a>
        <div class="media-body">
        <h4 class="media-heading"><%= raincheck.title %></h4>
        <class="muted"><%= raincheck.description %>
      <br>
      <% if !raincheck.completed %>
        <div class = "imagelinks"> 
          <div class="links">
            <i class="icon-edit"></i><%= link_to ' Edit', [:edit, raincheck] %>
            <i class="icon-ok"></i><%= link_to ' Archive', [:complete, raincheck], method: 'put'%>
            <i class="icon-trash"></i><%= link_to " Delete", [raincheck], :method => :delete, :confirm => "Are you sure?" %>
          </div>  
        </div>
        <% end %>

      </div>
      <% if raincheck.completed %>COMPLETED!
        <div class="pull-right">
          <div class = "imagelinks"> 
            <div class="links">
              <i class="icon-trash"></i><%= link_to ' Delete', [raincheck], :method => :delete, :confirm => "Are you sure?" %>
            </div>
          </div>
        </div>
        <% end %>
     </div>
      <% end %>

  </ul>
  <ul class = "span5">

  	<h3> Taken Rainchecks</h3>
  	<% @taken.each do |raincheck| %>
    <hr>
    <% klass = raincheck.completed ? 'completed' : '' %>
  		<div class="media <%= klass %>">
        <a class="pull-left" href="#">
          <img class="media-object" data-src=img src="/assets/raincheck.png">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= raincheck.title %></h4>
          <%= raincheck.description %>   
       
        <br>
        <% if !raincheck.completed %>
        <div class = "imagelinks"> 
          <div class="links">
      		  <i class="icon-calendar"></i><%= link_to ' Schedule', [:edit, raincheck] %>
          </div>
        </div>
        <% end %>
    
    </div>
      <% if raincheck.completed %>COMPLETED!
        <div class="pull-right">
          <div class = "imagelinks"> 
            <div class="links">
              <i class="icon-trash"></i><%= link_to ' Delete', [raincheck], :method => :delete, :confirm => "Are you sure?" %>
            </div>
          </div>
        </div>
        <% end %>
     </div>
      <% end %>
  </ul>

<div class="clearfix"></div>
</div>
    
  
    
  