<h3> Raincheck History</h3>


<div class = "span12">
  <ul class = "span5">

    <h3> Given Rainchecks</h3>
    <% @given.each do |raincheck| %>
      <% klass = raincheck.completed ? 'completed' : '' %>
      <div class="media <%= klass %>">
        <a class="pull-left" href="#">
        <img class="media-object" data-src=img src="/assets/raincheck.jpg" />

        </a>
        <div class="media-body">
        <h4 class="media-heading"><%= raincheck.title %></h4>
        <class="muted"><%= raincheck.description %>

     
      <br>
      <% if !raincheck.completed %>
      <div class="buttons">
        <%= link_to 'Edit Raincheck', [:edit, raincheck], class: 'btn btn-small btn-info edit' %>
        <%= link_to 'Completed', [:complete, raincheck], method: 'put', class: 'btn btn-small btn-info complete' %>
        <% end %>
      </div>
      <% if raincheck.completed %>
        <div class="pull-right">
        <%= link_to 'Delete', [raincheck], :method => :delete, :class => 'btn btn-small btn-danger', :confirm => "Are you sure?" %>
        <% end %>
        </div>
    </div>

    <% end %>

  </ul>
  <ul class = "span5">

  	<h3> Taken Rainchecks</h3>
  	<% @taken.each do |raincheck| %>
    <% klass = raincheck.completed ? 'completed' : '' %>
  		<div class="media <%= klass %>">
        <a class="pull-left" href="#">
          <img class="media-object" data-src=img src="/assets/raincheck.jpg">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= raincheck.title %></h4>
          <%= raincheck.description %>   
       
        <br>
        <% if !raincheck.completed %>
      		<%= link_to 'Schedule Raincheck', [:edit, raincheck], class: 'btn btn-small btn-success' %>
        <% end %>
    
    </div>
      <% if raincheck.completed %>
        <div class="pull-right">
        <%= link_to 'Delete', [raincheck], :method => :delete, :class => 'btn btn-small btn-danger', :confirm => "Are you sure?" %>
        <% end %>
        </div>
     </div>
      <% end %>
</ul>
</div>
    
  
    
  