<div class="navbar">
  <div class="navbar-inner">
  	<a class="brand" href="#">Raincheck</a>
      <ul class="nav">
	      <li><a href="/">Home</a></li>
        <li><a href="/rainchecks">My Rainchecks</a></li>
        <%= link_to '+ New Raincheck', [:new, :raincheck], class: 'btn btn-small btn-primary pull-right' %>
        <%= link_to 'Update your profile', edit_user_registration_path, class: 'btn' %>
               
       </ul>
    

    <div class="pull-right">
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'btn' %>
        <% else %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
          <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-success' %>
        <% end %>
      </div>
  </div>
</div>

